<!DOCTYPE html>
<html lang="eng-US">
<head>
<meta charset="utf-8"/>
<meta name="author" content="norria"/>
<meta name="description" 
content="The Booktracker app keeps tracks of all your favorite books,
to reads, already reads and reads in progress"/>
<meta name="viewport" content="width=device-width" initial-scale=1.0/>

<!-- favicon not working for now, will fix later--->
<link rel="icon" href="/favicon-48x48.cbbd161b.png" />
</head>

<body>
    {% block content %} {% endblock %}
</body>

</html>